#Ignore wp-config.php and .htaccess

wp-config.php
.htaccess

#Ignore wp-content

# Ignore wp-content root
wp-content/**

# Don’t ignore astra-child-anke theme
!wp-content/themes
!wp-content/themes/astra-child-anke
!wp-content/themes/astra-child-anke/**
